@charset "utf-8";

/*★リセット*/
*,*::before,*::after{
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: normal;
  box-sizing: border-box;
  background-clip: padding-box;
  /*! appearance: none; */
}

/*★基本設定*/
:root{
 /*あにまん掲示板の色のスポイトメイン*/
  /*背景色*/
  --bg1:#104cd0; /*基本色、コテハン等*/
  --bg2:#eef8ff; /*リンク等の色*/
  --bg3:#cff4fc; /*新規スレ作成注意書き等の色*/
  --bg4:#f8d7da; /*書き込み期限の色*/
  --bg5:#d1e7dd; /*お知らせの色*/
  --bg6:#eee; /*リンク(hover)*/
  --bg7:#def; /*リンク(visited)*/
  
  /*背景ライン色*/
  /*bgl1:#104cd0; 基本色 bgl2:#aaa; リンク等の色*/
  --bgl3:#b6effb; /*新規スレ作成注意書き等の色*/
  --bgl4:#f5c2c7; /*書き込み期限の色*/
  --bgl5:#badbcc; /*お知らせの色*/
  --bgl6:#ced4da; /*書き込みフォームの色*/
  
  /*文字色*/
  --fc1:#444; /*ナビゲーションバーなど*/
  --fc2:#0d6efd; /*リンク等の色*/
  --fc3:#055160; /*新規スレ作成注意書き等の色*/
  --fc4:#842029; /*書き込み期限の色*/
  --fc5:#0f5132; /*お知らせの色*/
  --fc6:#dc3545; /*赤*/
  --fc7:#0a58ca; /*リンク(hover)*/
  --fc8:#7D74C7; /*リンク(visited)*/
  --fc9:#fff;
  --fc10:#000;
  --fcgr1:#5555ff;
  --fcgr2:#9966ff;
  --fcgr3:#ff6666;
  
  /*あにまんまんのカラーコード*/
  --amm1:#BB95F8; /*全身*/
  --amm2:#7D74C7; /*胴体*/
  --amm3:#F8D790; /*くちばし*/
  --amm4:#F9DFA2; /*つの*/
  --amm5:#91E784; /*目の緑*/
  --amm6:#EE8691; /*目の赤*/
  --amm7:#F2ABE3; /*くち*/
  --amm8:#554D58; /*線*/
  

  /*magin指定など*/
  --mgw1:0 auto;
  --mgh1:auto 0;
  
   /*サイズ指定など*/
  --szw:100vw;
  --szh:100vh;
  --szp:100%;
  --sze:1em;
  --szr:1rem;
  --szx:100px;
  
  --derh:calc(var(--szh)/8);
  --derh10:calc(var(--derh)/10);
}

body {
  font-family:"Helvetica Neue",
              Arial,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo,
              sans-serif;
  color: var(--fc10);
  position: relative;
  height: auto;
  min-height:100vh;
  overflow:auto;
  overflow-wrap:break-word;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

a{
  color:var(--fc2);
}
a:hover{
  color:var(--fc7);
}
a:visited{
  color:var(--fc8);
}

input,button,textarea,select{
  display:inline-block;
  font:inherit;
  color:currentcolor;
  background-color:inherit;
  border:1px solid var(--bgl6);
  border-radius:5px;
}

:is(input,textarea)::placeholder{
  opacity: 0.5;
}

select option{
  background:transparent;
}
select option:hover{
    background:transparent;
}

.svg-container{
  display:inline-block;
  position: relative;
}
.svg-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

header{}

main{
  line-height: 1.5;
  font-size: 16px;
  max-width: 1200px;
  display:flex;
  justify-content:safe center;
  align-items: center;
  flex-direction: column;
}
main > *{
    width: 100%;
}
main label::before{
    font-family: "Font Awesome 5 Free";
}

footer{
  position: sticky;
  top: 100vh;
}

:is(header,footer){
  color: var(--fc9);
  background-color:var(--bg1);
  display:flex;
  justify-content:safe center;
  padding: 5px;
}
:is(header,footer) :is(*,*:hover,*:visited){
    color: inherit;
}
:is(header,footer) :is(h1,h2,h3,h4,h5,h6,div){
    margin: var(--mgh1);
}

.chu_i_gaki::before{
content: "※";
}

@media screen and (min-width: 721px){
  body {
    font-size: 16px;
  }
  
}
@media screen and (max-width: 720px){
  body {
    font-size: 60%;
  }
  body > *:not(header){
      font-size: 16px;
    }
  
  header,footer{
    flex-flow: row wrap;
  }
  
}

/*★詳細設定*/
h1#logo{
  height: 100%;
}
h1#logo a{
  display: flex;
  height: 100%;
}
h1#logo svg#logo_img{
  fill:var(--fc9);
}
h1#logo img#logo_img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(105%) contrast(104%);
}
h1#logo .title_span{
  margin: var(--mgh1);
  flex-grow: 1;
}

header .share{
  display: flex;
}

.share .btn{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--amm1);
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  
}

main .naiyou :is(.search_word,button){
  margin:5px 0;
}

main .naiyou :is(#q,#search_button){
  height:28px;
  padding:7px;
}

main .naiyou .search_word input#q::placeholder,
.opt label{
  font-size: 14px;
}

.opt .search_category label::before{
  content: "\f07b";
}
.opt .search_bfday label::before{
  content: "";
}
.opt .search_afday label::before{
  content: "";
}

.opt{
  border:1px solid;
  border-radius: 3px;
  padding:5px;
  margin:3px 0;
}
.opt > .opt_t{
    border-bottom:inherit;
    display:flex;
    justify-content:space-between;
  }
  
  .opt :is(input,button,textarea,select){
    border-color:currentcolor;
  }

.search_option{
  border-color:var(--bgl4);
  color: var(--fc4);
}
.cyau_naiyou{
  border-color:var(--bgl3);
  color: var(--fc3);
}
.egosa{
  border-color:var(--bgl5);
  color: var(--fc5);
}

.search_day > div{
  width: 98%;
  margin: var(--mgw1);
}


.animan_nai_check_box {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 721px){
  
  body > :is(header,footer){
    height:140px;
  }
  
  header,header :is(.site_top,.share){
    gap: 5px;
  }
  
  .svg-container{
    aspect-ratio:1/1;
    width: 100px;
  }
  
  #logo #logo_img{
  width: 100px;
  height: 100px;
  }
  
  span.little,.chu_i_gaki{
    font-size:10px;
  }
  
  .share .btn{
    width: 50px;
    height: 50px;
    font-size:30px;
  }
  
   main{
    padding:10px;
    margin:auto;
    width:var(--szp);
  }
  
  main .naiyou .search_word input#q,
  .opt.search_option :is(input,button,textarea,select):not(#rsb){
    width: 75%;
  }
}
@media screen and (max-width: 720px){
  
  body > :is(header,footer){
    max-height:140px;
    min-height:100px;
    height: var(--derh);
  }
  body > :is(header,footer) > *{
    max-height:140px;
  }
  body > header{
    justify-content: space-around;
  }
  h1#logo{
    flex-grow: 1;
    font-size: clamp(1rem, calc(1.5rem + 0.6vw), 2.4rem);
  }
  h1#logo .site_top{
    justify-content: center;
    align-items: center;
  }
  span.little,.chu_i_gaki{
    font-size: clamp(0.005rem, calc(0.5rem + 0.6vw), 0.6rem);
  }
  
  .svg-container{
    aspect-ratio:1/1;
    width: 20%;
  }
  
  #logo #logo_img{
    width: var(--szp);
    height:  var(--szp);
    max-width: 100px;
    max-height: 100px;
    min-width: 20px;
    min-height: 20px;
  }
  
  header .share{
    gap: 0.2rem;
    flex-direction: column;
  }
  .share .btn{
      width:clamp(calc(var(--derh)/4 + var(--derh10)), 8vw, 50px);
      height:clamp(calc(var(--derh)/4 + var(--derh10)), 8vw, 50px);
      font-size: clamp(20px,calc(1.2rem + 0.6vw),30px);
    }
  
  main{
    padding:2.5%;
  }
  
  main .naiyou .search_word input#q,
  .opt.search_option :is(input,button,textarea,select):not(#rsb){
    width: 95%;
  }
}
