#content{

  & .iframe-container:has(iframe){
    display:flex;
    flex:1;
    width:100%;
    align-items: stretch;
    margin-top: 0.5rem;
  }
  
  & div.iframe-container iframe{
    width:100%;
    border: none;
  }
  
  & #iframescript{
    
  }

  & #iframecontainer{
    display: flex;
    flex-direction: column;
    
    & #iframeFolding{
      cursor: pointer;
      background: #f5f5f5;
      padding: 0.8rem;
      border-radius: 4px;
      transition: background-color 0.3s;

      &.open {
        background: #e0e0e0;
      }
    }
  }

  
}

/* スライドアニメーション */
.slide-enter-active,
.slide-leave-active {
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.slide-enter-from,
.slide-leave-to {
  max-height: 0;
}
.slide-enter-to,
.slide-leave-from {
  /* 十分大きめに取っておく */
  max-height: 1000px;
}

