#content{
  gap: 20px 5px;

  & .iframe-container:has(iframe){
    display:flex;
    flex:1;
    width:100%;
    align-items: stretch;
    margin-top: 0.5rem;
  }
  
  & div.iframe-container iframe{
    width:100%;
    border: none;
  }
  
  & #iframescript{
    
  }

  & #iframecontainer{
    display: flex;
    flex-direction: column;
    
    & #iframeFolding{
      cursor: pointer;
      background: #f5f5f5;
      padding: 0.8rem;
      border-radius: 4px;
      transition: background-color 0.3s;

      &.open {
        background: #e0e0e0;
      }
      
    }

    & .iframe-container{

        & #InlineFrameContact{
          min-height:100vh;
        }
      }
  }
  
}

/* スライドアニメーション */
.slide-enter-active,
.slide-leave-active {
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.slide-enter-from,
.slide-leave-to {
  max-height: 0;
}
.slide-enter-to,
.slide-leave-from {
  /* 十分大きめに取っておく */
  max-height: 1000px;
}

@media screen and (min-width: 721px){

  #content{

  & #iframecontainer{

    & .iframe-container{

        & #InlineFrameContact{
          height:200vh;
          max-height:1200px;
        }
      }
  }
}

  
}

@media screen and (max-width: 720px){

  #content{

  & #iframecontainer{
    
    & .iframe-container{

        & #InlineFrameContact{
          height:200vh;
        }
      }
  }
}

  
}

