---
layout: default
title: "その他機能など"
description: "あにまん掲示板お役立ちツール【非公式】などを配布しているページです"
og_image: "https://animanman.github.io/thumb/a.png"
custom_style: "/test/other/style.css"
custom_script: "/test/other/script.js"
---

<div id="otherapp" class="about-page">
    <!-- 各グループ（セクション）ごとにループ -->
    <div v-for="(group, gindex) in scriptGroups" :key="gindex" class="section">
      <h3>[[ group.heading ]]</h3>
      <!-- セクション内のスクリプト情報をループ -->
      <div v-for="(script, sindex) in group.scripts" :key="sindex">
        <h4>
          <a :href="script.url">[[ script.title ]]</a>
        </h4>
        <div class="btn btn-primary"><a :href="script.installurl">導入</a></div>
        <p>[[ script.description ]]</p>
      </div>
    </div>
  </div>
