@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

/*★リセット*/
*,*:where(::before,::after){
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: inherit;
  box-sizing: border-box;
  background-clip: padding-box;
  appearance: none;
  list-style: none;
}

/* ★基本設定 */
:root {
  --cl1-1-r: #1c78e9;
  --cl1-2-r: #3ba2e3;
  --cl1-3-r: #6dc6e9;
  --cl1-4-r: #8ce5f3;
  --cl1-5-r: #c5f7f6;

  --cl1-1-50: #eff8ff;
  --cl1-1-100: #dbeffe;
  --cl1-1-200: #bfe4fe;
  --cl1-1-300: #94d3fc;
  --cl1-1-400: #61baf9;
  --cl1-1-500: #3c9bf5;
  --cl1-1-600: #1c78e9; /* cl1-1-r */
  --cl1-1-700: #1e67d7;
  --cl1-1-800: #1f53ae;
  --cl1-1-900: #1f4889;
  --cl1-1-950: #172d54;

  --cl1-2-50: #f1f8fe;
  --cl1-2-100: #e3effb;
  --cl1-2-200: #c1e0f6;
  --cl1-2-300: #89c7f0;
  --cl1-2-400: #3ba2e3; /* cl1-2-r */
  --cl1-2-500: #238fd4;
  --cl1-2-600: #1571b4;
  --cl1-2-700: #125b92;
  --cl1-2-800: #134d79;
  --cl1-2-900: #164164;
  --cl1-2-950: #0e2a43;

  --cl1-3-50: #f2f9fd;
  --cl1-3-100: #e3f2fb;
  --cl1-3-200: #c2e6f5;
  --cl1-3-300: #6dc6e9; /* cl1-3-r */
  --cl1-3-400: #4ebbe2;
  --cl1-3-500: #27a3d0;
  --cl1-3-600: #1883b1;
  --cl1-3-700: #15698f;
  --cl1-3-800: #155977;
  --cl1-3-900: #174a63;
  --cl1-3-950: #0f3042;

  --cl1-4-50: #edfdfe;
  --cl1-4-100: #d2f7fb;
  --cl1-4-200: #aaedf7;
  --cl1-4-300: #8ce5f3; /* cl1-4-r */
  --cl1-4-400: #2ec6e2;
  --cl1-4-500: #13a9c7;
  --cl1-4-600: #1288a8;
  --cl1-4-700: #166d88;
  --cl1-4-800: #1b596f;
  --cl1-4-900: #1b4b5e;
  --cl1-4-950: #0c3040;

  --cl1-5-50: #eefdfc;
  --cl1-5-100: #c5f7f6; /* cl1-5-r */
  --cl1-5-200: #aef3f3;
  --cl1-5-300: #76e8ea;
  --cl1-5-400: #37d4d9;
  --cl1-5-500: #1cb8be;
  --cl1-5-600: #1a94a0;
  --cl1-5-700: #1c7782;
  --cl1-5-800: #1f616b;
  --cl1-5-900: #1e505b;
  --cl1-5-950: #0e353e;
} 

:where(html) {
  font-size: 10px;
  position: relative;
}

:where(body) {
  font-family:"Noto Sans JP",
              "Helvetica Neue",
              Arial,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo,
              sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #000;
  height: auto;
  min-height:100vh;
  overflow-x: hidden;
  overflow-wrap:break-word;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1;
}

:where(p,h0, h1, h2, h3, h4, h5, h6,h7,h8,h9) {
  overflow-wrap: break-word;

  &:where(h0, h1, h2, h3, h4, h5, h6,h7,h8,h9){
    font-weight: bold;

    & > {
      
    }

    &:where(h1, h2, h3){
      
    }

    &:where(h0){
      
    }

    &:where(h1){
      font-size: 4rem;
    }

    &:where(h2){
      font-size: 3rem;
    }

    &:where(h3){
      font-size: 2.5rem;
    }

    &:where(h4){
      font-size: 2rem;
    }

    &:where(h5){
      
    }

    &:where(h6){
      
    }

    &:where(h7){
      
    }

    &:where(h8){
      
    }

    &:where(h9){
      
    }
  }
}

.svg-container{
  display:inline-block;
  position: relative;
  
  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:where(body) > :where(header,main,footer){
  display:flex;
  flex-wrap: wrap;

  &:where(header,footer){
    font-size: 1.4rem;

    &:where(header){

      & :where(h1){
        flex: 1;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
    }
    
    &:where(footer){
      position: sticky;
      top: 100vh;
      justify-content: safe center;
    }
  }

  &:where(main){
    flex: 1;
    flex-direction: column;

    font-size: 1.6rem;
    line-height: 1.5;
  }

  & .little{
    font-size: 0.5em;
  }
}

@media screen and (min-width: 721px){

  
}
@media screen and (max-width: 720px){

  
}

