@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

/*★リセット*/
*,*:where(::before,::after){
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: inherit;
  box-sizing: border-box;
  background-clip: padding-box;
  appearance: none;
  list-style: none;
}

/* ★基本設定 */
:root {
  --cl1-1-rt:#1c78e9; /* cl1-1-rt */
  --cl2-1-rt:#824AB1;
  --cl3-1-rt:#E81C78;
  --cl4-1-rt:#E8544A;
  --cl5-1-rt:#E88C1C; /* cl1-1-rtの補色 */
  --cl6-1-rt:#82BA54;
  --cl7-1-rt:#1CE88C; /* cl3-1-rtの補色 */
  --cl8-1-rt:#1CB0BB;
  
  --cl1-1-rt: #1c78e9;

  --cl1-1-a: #eff8ff;
  --cl1-1-1: #dbeffe;
  --cl1-1-2: #bfe4fe;
  --cl1-1-3: #94d3fc;
  --cl1-1-4: #61baf9;
  --cl1-1-5: #3c9bf5;
  --cl1-1-6: #1c78e9; /* cl1-1-rt */
  --cl1-1-7: #1e67d7;
  --cl1-1-8: #1f53ae;
  --cl1-1-9: #1f4889;
  --cl1-1-b: #172d54;

  --cl3-1-rt:#E81C78;
  
  --cl3-1-a: #fef1f8;
  --cl3-1-1: #fde6f3;
  --cl3-1-2: #fecce8;
  --cl3-1-3: #ffa2d5;
  --cl3-1-4: #fd69b7;
  --cl3-1-5: #f83c9a;
  --cl3-1-6: #e81c78; /* cl3-1-rt */
  --cl3-1-7: #ca0c5c;
  --cl3-1-8: #a70d4c;
  --cl3-1-9: #8b1043;
  --cl3-1-b: #550224;

  --cl5-1-rt:#E88C1C;

  --cl5-1-a: #fef9ee;
  --cl5-1-1: #fcf2d8;
  --cl5-1-2: #f8e1b0;
  --cl5-1-3: #f3ca7e;
  --cl5-1-4: #eeaa49;
  --cl5-1-5: #e88c1c; /* cl5-1-rt */
  --cl5-1-6: #da771c;
  --cl5-1-7: #b55c19;
  --cl5-1-8: #90491c;
  --cl5-1-9: #753e19;
  --cl5-1-b: #3f1d0b';

  --cl7-1-rt:#1CE88C;

  --cl7-1-a: #effef7;
  --cl7-1-1: #d9ffed;
  --cl7-1-2: #b6fcdc;
  --cl7-1-3: #7ef7c0;
  --cl7-1-4: #3eea9c;
  --cl7-1-5: #1ce88c;
  --cl7-1-6: #0bae64;
  --cl7-1-7: #0d8851;
  --cl7-1-8: #106b43;
  --cl7-1-9: #0f5839;
  --cl7-1-b: #02311e;
} 

:where(html) {
  font-size: 10px;
  position: relative;
}

:where(body) {
  font-family:"Noto Sans JP",
              "Helvetica Neue",
              Arial,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo,
              sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #000;
  height: auto;
  min-height:100vh;
  overflow-x: hidden;
  overflow-wrap:break-word;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1;
}

:where(p,h0, h1, h2, h3, h4, h5, h6,h7,h8,h9) {
  overflow-wrap: break-word;

  &:where(h0, h1, h2, h3, h4, h5, h6,h7,h8,h9){
    font-weight: bold;

    & > {
      
    }

    &:where(h1, h2, h3){
      
    }

    &:where(h0){
      
    }

    &:where(h1){
      font-size: 4rem;
    }

    &:where(h2){
      font-size: 3rem;
    }

    &:where(h3){
      font-size: 2.5rem;
    }

    &:where(h4){
      font-size: 2rem;
    }

    &:where(h5){
      
    }

    &:where(h6){
      
    }

    &:where(h7){
      
    }

    &:where(h8){
      
    }

    &:where(h9){
      
    }
  }
}

.svg-container{
  display:inline-block;
  position: relative;
  
  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:where(body) > :where(header,main,footer){
  display:flex;
  flex-wrap: wrap;

  &:where(header,footer){
    font-size: 1.4rem;

    &:where(header){

      & :where(h1){
        flex: 1;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
    }
    
    &:where(footer){
      position: sticky;
      top: 100vh;
      justify-content: safe center;
    }
  }

  &:where(main){
    flex: 1;
    flex-direction: column;

    font-size: 1.6rem;
    line-height: 1.5;
  }

  & .little{
    font-size: 0.5em;
  }
}

@media screen and (min-width: 721px){

  
}
@media screen and (max-width: 720px){

  
}

