@charset "utf-8";

/*★リセット*/
*,*::before,*::after{
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: normal;
  box-sizing: border-box;
  background-clip: padding-box;
  appearance: none;
}

